@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;600;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

.sidebar_profile{
    text-align: center;
    position: relative;

}

.sidebar_profile-image{
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 10px;

}

.sidebar_profile img{
    width: 100%;
    height: auto; 
    
}

.sidebar_profile h1{
    font-family: var(--font-family);
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--color-title);
}

.sidebar_profile p{
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #f8f9fa;
    color: var(--color-subtext)
}




.sidebar_about-scroll{
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    height: 60vh;
    margin-top: 20px;
  }

  .sidebar_about-scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar_about-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.sidebar_about{
    background-color: var(--color-footer);
    padding: 15px 20px 10px 20px;
}

.sidebar_about-info h2,
.sidebar_about-info p{
    display: inline;
    vertical-align: top;
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 28px;
}


.sidebar_about-info h2{
    color: var(--color-title);
}

.sidebar_about-info p{
    color: #f8f9fa;
    float: right;
    padding-left: 20px;
    color: var(--color-subtext)
}

hr{
    height : 2px;
    background-color: #646466;
    margin-top: 15px;
    opacity: 0.3;
}


/* side.css */

.lang-container {
    display: flex;
    justify-content: space-around;
}



.lang-container .sidebar_about-lang-left circle {
    animation-name: anim;
  }
  
  .lang-container .sidebar_about-lang-right circle {
    animation-name: anim2;
  }



.sidebar_about-ul{
    padding-top: 15px;
    padding-bottom: 0;
}

.sidebar_about-ul ul{
    list-style-type: none;    
}


.sidebar_about-ul li{
    font-family: var(--font-family);
    color: #8c8c8e;
    font-size: 12px;
    font-weight: 200;
    
}


.sidebar_about-ul li i{
    color: var(--color-text);
    padding-right: 10px;
    font-size: 10px;
    line-height: 20px;
}

.sidebar_about-resume{
    padding-top: 14px;
    padding-bottom: 5px;
}

.sidebar_about-resume p {
    font-family: var(--font-family);
    color: #8c8c8e;
    font-weight: 600;
    font-size: 12px;
}

.sidebar_about-resume i {
    font-size: 11px;
    padding-left: 2px;
    color: #8c8c8e;
}

/* Apply hover effect to both 'p' and 'i' when their parent container is hovered over */
.sidebar_about-resume:hover p,
.sidebar_about-resume:hover i {
    color: white;
    cursor: pointer;
    text-shadow: 0 0 3px rgba(250, 250, 252, 0.774);
}


.sidebar_about-footer{
    padding-left: 30;
}

.sidebar_about-footer a{
	display: inline-block;
	height: 30px;
	width: 30px;
	margin:6px 4px 4px 5px;
	text-align: center;
	line-height: 30px;
	border-radius: 60%;
	color: #ffffff;
	transition: all 0.5s ease;
    padding-left: 35px;
}


.sidebar_about-footer i{
    font-size: 17px;
}


  
  /* Original styles for larger screens */
  /* ... (your existing styles) */
  

