.stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Match the font family */
  }
  
  .stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .stat-number {
    font-size: 2em; /* Adjust the font size as needed */
    color: #333; /* Match the font color */
  }
  
  .stat-text {
    font-size: 1em;
    color: #333;
  }
  
  .leetcode-icon {
    fill: yellow; /* Set the SVG icon color to yellow */
    width: 50px; /* Adjust the size as needed */
    height: 50px;
  }
  
  @media (max-width: 768px) {
    .stats-container {
      justify-content: center;
    }
  }
  