.container {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family);
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  padding-right: 40px;
  padding-left: 10px;
}

.number {
  font-size: 2rem; /* Adjust size as needed */
  font-weight: bolder;
  color: var(--color-text);
  padding-left: 50px;
}
.iconcenter{
  padding-left: 45px;
}

.iconleft{
  padding-left: 20px;
}

.text {
  font-size: 0.9rem; /* Adjust size as needed */
  text-align: center;
  color: white;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    position: relative;
    justify-content: space-between;
    font-family: var(--font-family);
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0;
    padding: 0;
  }

  .number {
    font-size: 1.5rem;
    padding-left: 50px;
  }

  .iconcenter {
    padding-left: 35px;
  }

  .iconleft{
    padding-left: 17px;
  }


  .text {
    font-size: 0.75rem;
  }
}
