.header_containerbg{
    background-image: linear-gradient(90deg,rgba(45,45,58,.9) 15%,rgba(45,45,58,.7) 50%,rgba(43,43,53,.7) 100%);

}


.header_container{
    position: relative;
    display: flex;
    padding: 60px;
    width: 100%;

}

.header_container img{
    width: 100%;
    height: 50vh;
    filter: brightness(60%);

}



.header_container-title{
    align-self: center;
    width: 100%;
    position: absolute;
    padding-left: 30px;

}

.header_container-title h1{
    color: var(--color-title);
}



.header_container-title-anim {

    margin-top: 20px;
    color: var(--color-title);
    font-size: 1.6rem;
    color: #fff; 
}





.header_container-title-anim i{
    color: var(--color-text);
}



.header_container-typing span{
    color: #fff;
}



.header_container-btn{
    margin-top: 20px;
    border: 1px solid black;
    background-color: var(--color-text);
    padding: 10px;
    width: 150px;
    text-align: center;
}

.header_container-btn span{
    font-weight: 600;
}

.header_container-img{
    position: absolute;
    right: 20%;
    top: -80px;
}




@media (max-width: 971px) {
    .header_container {
        flex-direction: column;
        padding: 30px;
    }

    .header_container img {
        height: auto;
    }

    .header_container-title {
        padding-left: 0;
        text-align: center;
        font-size: 12px;
    }

    .header_container-title-anim {
        margin-top: 10px;
        font-size: 1.2rem;
    }



    .header_container-img {
        margin-top: 20px;
        height: auto;
        width: 40%;
        right:30% ;
        top: 80px;
    }
}


@media (max-width:450px){
    .header_container-title h1{
        font-size: 16px;
    }

    .header_container-title-anim{
        font-size: 14px;
    }

    .header_container-img{
        margin-top: 20px;
        height: auto;
        width: 30%;
        right:30% ;
        top: 60px;
    }
}