/* ContactUs.css */

.form-title{
    font-family: var(--font-family);
    margin: 25px 20px 0 30px;

  }
  
  .form_contact-us {
    width: 95%;
    margin: 0 30px 30px 30px;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      background-color: var(--color-blog);
    }
    
.form-title h1{
    color: var(--color-title);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: 10px;
}
    
    .form-group {
      margin-bottom: 15px;
    }
    
    label {
      font-weight: bold;
      color: var(--color-blog);
      display: inline-block;
      width: 50px;
      background-color: var(--color-bg);
      padding: 10px;
      padding-left: 18px;
    }



    
    input[type="text"],
    input[type="email"],
    textarea {
      width: 95%;
      padding: 10px;
      border: 1px solid var(--color-footer);
      background-color: var(--color-footer);
      border-radius: 3px;
      display: inline-block;
      font-family: var(--font-family);
      font-size: 12px;
    }
    
    input[type="submit"] {
      background-color: var(--color-text);
      color: #20202a;
      border: none;
      border-radius: 3px;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 1.3px ;
      font-family: var(--font-family);
    }


  
  textarea:focus, input:focus {
      background-color: var(--color-blog);
  }
    

.messageprom{
  padding-bottom: 50px;
}

.messagepro{
  padding-bottom: 0px;
  padding-top: 80px;
}

.messagepro i{
  position: relative;
  text-align: center;
  bottom: 70px;
}

label:hover{
  background-color: var(--color-text);
}

@media (max-width:773px){
  .messagepro i{
    bottom: 0;
  }

  .messagepro{
    padding: 10px;
    width: 95%;
  }
  label{
    width: 95%;
  }
}

@media (max-width:450px){
  .form_contact-us{
    margin: 0;
    padding: 10;
  }
}