/* ContactUs.css */
.form_container{
  margin-bottom: 30px;
}


.form-title{
    font-family: var(--font-family);
    font-size: 30px;
    margin: 30px 20px 0 30px;

  }
  
  .form_contact-us {
    width: 95%;
    margin: 0 30px 30px 30px;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      background-color: var(--color-blog);
    }
    
.form-title h1{
    color: var(--color-title);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: 10px;
    font-family: var(--font-family);

}
    
    .form-group {
      margin-bottom: 15px;
    }
    
    label {
      font-weight: bold;
      color: #fff;
      display: inline-block;
      width: 30px;
      background-color: #000;
      padding: 10px;
      border-radius: 3px;
      font-family: var(--font-family);

    }



    
    input[type="text"],
    input[type="email"],
    textarea {
      width: 95%;
      padding: 10px;
      border: 1px solid var(--color-footer);
      background-color: var(--color-footer);
      border-radius: 3px;
      display: inline-block;
      font-family: var(--font-family);

    }
    
    input[type="submit"] {
      background-color: var(--color-text);
      color: #000;
      border: none;
      border-radius: 3px;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 16px;
      font-family: var(--font-family);
    }

    ::placeholder{
      color: #000;
    }

  
  textarea:focus, input:focus {
      background-color: #ffff;
  }
    

.messageprom{
  padding-bottom: 50px;
}

.messagepro{
  padding-bottom: 0px;
  padding-top: 80px;
}

.messagepro i{
  position: relative;
  text-align: center;
  bottom: 70px;
}

label:hover{
  background-color: var(--color-text);
}

@media (max-width:1045px){
  .messagepro i{
    bottom: 0;
  }

  .messagepro{
    padding: 10px;
    width: 95%;
  }
  label{
    width: 95%;
  }
}


@media (max-width:773px){
  .messagepro i{
    bottom: 0;
  }

  .messagepro{
    padding: 10px;
    width: 95%;
  }
  label{
    width: 95%;
  }
}

@media (max-width:450px){
  .form_contact-us{
    margin: 0 0 0 10px;
    padding: 10px;
  }

  .form-title h1{
    margin-left: 0;
  }
}