.contact_info-container{
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.contact_info-title{
    margin: 50px 20px 0 30px;
}

.contact_info-title h1{
    color: var(--color-title);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: 10px;
    font-family: var(--font-family);
}

.contact_info-container-box{
    display: block;
    width: 30%;
    box-shadow: rgba(19, 18, 18, 0.7);
    padding: 15px;
    background-color: var(--color-blog);
    margin-right: 20px;    
    margin-left: 10px;
    margin-bottom: 30px;
}

.contact_info-container-box ul li{
    list-style-type: none;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5px;
    color: var(--color-subtext);
    font-family: var(--font-family);

}

.contact_info-container-box ul li strong{
    color: #fff;
    font-family: var(--font-family);

}






@media (max-width:1045px){
    .contact_info-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }
    .contact_info-container-box{
        width: 100%;
    }
}

@media (max-width:450px){
    .contact_info-container-box{
        margin-right: 10px;
    }

    .contact_info-title h1{
        margin-left: 0px;
    }
}