:root {
  --font-family: 'poppins', 'courier prime';

  
  --color-bg: #191923;
  --color-footer : #252531;
  --color-blog: #2c2b38;
  --color-text: #fec02f;
  --color-title: #ffff;
  --color-subtext:#8c8c8e;
}