@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --font-family: "Montserrat", sans-serif;

  
  --color-bg: #191923;
  --color-footer : #252531;
  --color-blog: #2c2b38;
  --color-text: #fec02f;
  --color-title: #ffff;
  --color-subtext:#8c8c8e;
}